body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  width: 100%;
}

label a {
  width: auto !important;
}

#atual {
  background-color: #ca3e47;
}

.entireContainer {
  display: flex;
  align-items: flex-end;
  margin-top: 70px;
  justify-content: start;
  position: fixed;

  .homeContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    column-gap: 1.3rem;
    transition: 0.2s ease-in-out;
    width: 210px;
    padding: 3.8px 0px;
  }

  .homeContainer:hover {
    background-color: #5c5c5c;
    cursor: pointer;
  }

  .icon-home {
    margin-left: 1rem;
    min-width: 2.3rem;
    height: 2.3rem;
    box-sizing: border-box;
    background-color: #ca3e47;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-home-main {
    width: 1.3rem;
    height: 1.3rem;
  }

  .text-home-main {
    color: white;
    font-size: 14px;
    font-weight: 400;
  }

  .sidebarContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    background-color: #414141;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 20px;
  }

  .dotLine {
    width: 100%;
    border: 1px dashed #ffffff;
  }
}